# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages in Data Science
- Provide examples of libraries used in Data Science
- Give a brief list of tools used in Data Science
- Demonstrate arithmetic expressions using Python

Some examples of popular languages that Data Scientists use are:
- Python
- R
- Julia

Examples of libraries used by Data Scientists include:
- NumPy
- ggplot2
- Vegas (for Scala)

|Data Science Tools|
|-----------------|
|MySQL|
|MongoDB|
|Apache Atlas|

### Here are a Few examples of evaluating arithmetic expressions in Python.

This runs simple arithmetic to multiply then add integers

In [1]:
(3*4)+5

17

This converts 200 minutes to hours

In [2]:
200/60

3.3333333333333335

## Author
Brian Amdahl